<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trq.xtdemo.biz.mapper.YxqPersonMapper">

    <update id="updateByPersonId" parameterType="com.trq.xtdemo.biz.dto.YxqPersonDTO">
        update
            t_yxq_person
        <set>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="agreePolicyFlag != null and agreePolicyFlag != ''">
                agree_policy_flag = #{agreePolicyFlag},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy}
            </if>
        </set>
        where
              person_id = #{personId}
    </update>

    <select id="queryYxqPersonList" resultType="com.trq.xtdemo.biz.dto.YxqPersonDTO"
            parameterType="com.trq.xtdemo.biz.dto.req.YxqPersonListReq">
        select
            *
        from
             t_yxq_person
    </select>
</mapper>